  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
      <a class="navbar-brand fw-bold text-danger" href="#">Foodie</a>

      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">search</a></li>
          <li class="nav-item"><a class="nav-link" href="/menu">Menu</a></li>

          <!-- Login -->
          <li class="nav-item">
            <a class="btn btn-outline-danger ms-2" href="/login">
              Login
            </a>
          </li>

          <!-- Signup -->
          <li class="nav-item">
            <a class="btn btn-danger ms-2" href="/signup">
              Sign Up
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>