<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs', {title: "change password "}) %>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Change Password</h3>
                        <form id="frm">
                            <div class="mb-3">
                                <label for="currentPassword" class="form-label">Current Password : </label>
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                                    required />
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">New Password : </label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword"
                                    required />
                            </div>
                            <div class="mt-3 text-center">
                                <button class="btn btn-danger" type="submit" id="submitBtn">
                                    Change
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        async function handleChangePassword(event) {
            try {
                event.preventDefault();
                const currentPassword = document.getElementById('currentPassword').value.trim();
                const newPassword = document.getElementById('newPassword').value.trim();
                console.log('currentPassword , newPassword  ', JSON.stringify({ currentPassword, newPassword }));

                // const response = await httpRequest("/api/v1/authentication/change-password",
                // 'post', {}, 
                // { currentPassword, newPassword }
                // );
                  const data = await httpRequest("/api/v1/authentication/change-password", "POST",  {}, { currentPassword, newPassword  })


                // const accessToken = localStorage.getItem('accessToken');
                // const response = await fetch("/api/v1/authentication/change-password", {
                //     method: "POST",
                //     headers: {
                //         'Content-type': 'application/json',
                //         'Authorization': `Bearer ${accessToken}`
                //     },
                //     body: JSON.stringify({ currentPassword, newPassword })
                // });
                // const data = await response.json();
                // console.log('data :>> ', data);
                // if (!response.ok) {
                //     throw new Error(`${data.message}`);
                // }
                alert("password changed successfully");
            } catch (error) {
                console.log('error :>> ', error);
                alert(error);
            }
        }
        document.getElementById('frm').addEventListener("submit", handleChangePassword);
    </script>
</body>
</html>