<!DOCTYPE html>
<html lang="en">


 <%- include('../partials/header.ejs', {title: "forget-password "}) %>


<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center">Forget password ?</h3>
            <form id="frm">
              <div class="mb-3">
                <label for="email" class="form-label">Email :</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com"
                  required />
              </div>
              <div class="mt-3 text-center">
                <button class="btn btn-danger" type="submit" id="submitBtn">
                  Submit
                </button>
                <p class="mt-3 text-center">
                  Remembered?
                  <a href="/login">Login</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    async function handleForgetPassword(event) {
      try {
        event.preventDefault();
        const email = document.getElementById('email').value.trim();
        const submitBtn = document.getElementById('submitBtn')
        submitBtn.disabled = true;

        const response = await fetch("/api/v1/authentication/forget-password", {
          method: "POST",
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({ email })
        });

        const data = await response.json();
        console.log('data :>> ', data);
        if (!response.ok) {
          throw new Error(`${data.message}`);
        }
        console.log('data.message :>> ', data.message);
        alert(`${data.message}`);
      } catch (error) {
        console.log('error :>> ', error);
        alert(error);
      }
      finally {
        submitBtn.disabled = false;
      }
    }
    document.getElementById('frm').addEventListener("submit", handleForgetPassword);

  </script>
</body>

</html>