<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs', {title: "reset password" }) %>

  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h3 class="text-center">Reset Password</h3>
              <form id="frm">
                <div class="mb-3">
                  <label for="newPassword" class="form-label">Enter the New Password :</label>
                  <input type="password" class="form-control" id="newPassword" name="newPassword" required />
                </div>
                <p class="mt-3 text-center">
                  This link is valid for 15 min
                </p>
                <div class="mt-3 text-center">
                  <button class="btn btn-danger" type="submit">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      async function handleResetPassword(event) {
        // try {
        event.preventDefault();
        const newPassword = document.getElementById('newPassword').value.trim();
        const resetToken = "<%= token %>";
        console.log('resetToken :>> ', resetToken);
        // const response = await fetch("/api/v1/authentication/reset-password", {
        //   method: "POST",
        //   headers: {
        //     'Content-type': 'application/json',
        //     'Authorization': `Bearer ${resetToken}`
        //   },
        //   body: JSON.stringify({ newPassword })
        // });

        // const data = await response.json();
        // console.log('data :>> ', data);
        // if (!response.ok) {
        //   throw new Error(`${data.message}`);
        // }
        const data = await httpRequest("/api/v1/authentication/reset-password", "POST", { 'Authorization': `Bearer ${resetToken}` }, { newPassword })
        alert("password changed successfully");
        // } catch (error) {
        //   console.log('error :>> ', error);
        //   alert(error);
        // }
      }
      document.getElementById('frm').addEventListener("submit", handleResetPassword);

    </script>
  </body>

</html>