<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
   <h2>Password Reset Request</h2>
    <p>Hello <%= name %></p>
    <p>You have requested the reset of the password of your account.</p>
    <p>Please click on the below link to reset the password. </p>
    <a href="<%= resetLink %>">Reset Password. </a>      
    <p>The reset password link expires in 15 minutes. </p>
</body>
</html>
